@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 1;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #ff315d;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #ff315d;
}




/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(img/background-main.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .hello{
    margin-bottom: 5px;
}

.home .hello h2{
    color: #fff;
    font-size: 5em;
}

.social-media td{
    width: 10rem;
}

.social-media td a{
    color: #fff;
    text-decoration: none;  
}

.social-media .btn{
    font-size: 3.5em;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #fff;
    border-radius: 50%;
    transform: scale(1);
    transition: all 1s;
    position: relative;
    z-index: 0;
}

.social-media .btn:hover{
    transform: scale(1.3);
    transition: all 1s;
    border: solid 2px #ff315d;
    color: #ff315d;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/*
    About
*/
.about{
    width: 100%;
    padding: 5rem;
}

.about-me-section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 50rem;
    height: 50rem;
    background-image: url(img/PH1.jpg);
    background-position: center top;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10rem;
}

.about-text{
    width: 60%;
    font-size: 1.7em;
}

.about-text h1{
    font-size: 2em;
}

/*
    Potfolio
*/

.portfolio{
    width: 100%;
    padding: 5rem;
    text-align: center;
}

.portfolio h1{
    font-size: 4em;
    margin-bottom: 3rem;
}

.portfolio-section{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.portfolio-section .project{
    display: inline-block;
    width: 35rem;
    height: 25rem;
    margin: 1rem;
    background-size: cover;
    background-position: center top;
    border-radius: 20px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.335);
}

.portfolio-section .project .overlay{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: transparent; 
}

.portfolio-section .overlay:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.78);
}

/*
    Skills
*/

.skills{
    width: 100%;
    padding: 5rem;
    text-align: center;
}

.skills h1{
    font-size: 4em;
    margin-bottom: 3rem;
}

.skills-section{
    display: flex;
    justify-content: center;
}

.skills-section table tr td{
    text-align: center;
    width: 40rem;
    height: 20rem;
    font-size: 20em;
}

.skills-section table tr td:hover{
    color: transparent;
    background-image: url(img/gold-texture.png);
    background-position: center top;
    background-size: cover;
    -webkit-background-clip: text;
    cursor: pointer;
}

/*
    Footer and Contact
*/

footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
    padding: 5rem;
}

.container-footer{
    width: 100%;
    height: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-around;
}

.container-footer .content{
    text-align: center;
}

.container-footer .content h2{
    text-decoration: underline 3px #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

.copyright{
    display: flex;
    width: 100%;
    padding: 3rem;
    justify-content: center;
    color: #929090;
}