@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Permanent+Marker&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

/*
-------------------------                    |
|   MAIN SECTION START  |
-------------------------
*/

header{
    width: 100%;
}

.main-section{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(img/background-main.jpg);
    background-position: top center;
    background-size: cover;
    color: #ffffff;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.brand{
    display: flex;
    align-items: center;
    width: 20rem;
    margin-left: 2rem;
}

.brand .fa-user-astronaut{
    font-size: 3em;
}

.brand h2{
    display: inline;
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

.brand:hover{
    color: #ff39e5;
    cursor: pointer;
}

.main-menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 1.4rem;
}

.main-menu ul{
    list-style: none;
    font-size: 1.4em;
    cursor: pointer;
}

.main-menu li{
    display: inline;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.main-menu li:hover{
    color: #ff39e5;
}

.main-menu a{
    text-decoration: none;
    color: #ffffff;
}

.welcome-section{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #ffffff
}

.social-media .social-btn{
    font-size: 2em;
    color: #ffffff;
}

.social-media li{
    display: inline;
    margin: 2rem;
}

.social-media .social-btn{
    display: inline-block;
    width: 3rem;
    border: solid 1px #ffffff;
    border-radius: 50%;
    padding: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    transform: scale(1);
    transition: all 1s;
}

.social-media .social-btn:hover{
    transform: scale(1.3);
    transition: all 1s;
    color: transparent;
    background-image: url(https://media.giphy.com/media/pVnfc9v3xjh5K/giphy.gif);
    background-position: center top;
    background-size: cover;
    -webkit-background-clip: text;
}

/*
-------------------------
|   MAIN SECTION END    |
-------------------------
*/


/*
-------------------------
|   ABOUT SECTION START    |
-------------------------
*/

.about{
    position: absolute;
    top: 100vh;
    width: 100%;
}

.about-me-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-section h1{
    font-size: 3.5em;
    font-weight: 10000;
    color: transparent;
    background-image: url(https://media.giphy.com/media/pVnfc9v3xjh5K/giphy.gif);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
}

.rgb-mark{
    padding: 0.5rem;
    width: 31rem;
    height: 31rem;
    background-image: url(https://media.giphy.com/media/pVnfc9v3xjh5K/giphy.gif);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 4rem;
}

.personal-photo{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-image: url(img/PH1.jpg);
    background-position: top center;
    background-size: cover;
}

.about-text{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 2px;
}

/*
-------------------------
|   ABOUT SECTION END    |
-------------------------
*/




/*
---------------------------
| BRIEFCASE SECTION START |
---------------------------
*/

.briefcase{
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 200vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.briefcase h1{
    font-size: 1.5em;
    font-weight: 10000;
    color: transparent;
    background-image: url(https://media.giphy.com/media/pVnfc9v3xjh5K/giphy.gif);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
}

.briefcase-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.gold{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    padding-bottom: 0.3rem;
    background-image: url(https://media.giphy.com/media/pVnfc9v3xjh5K/giphy.gif);
    border-radius: 6px;
}

.project{
    display: inline-block;
    width: 25rem;
    height: 20rem;
    background-position: center top;
    background-size: cover;
}